*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
header{
    position: fixed;
    top: 0;
    z-index: 10;
    left: 0;
    right: 0;
    
}
nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: white;
    
}
.logo-container{
    display: inline-block;
    
}
.logo-container img{
    width: 100%;
}
.nav-container ul{
    list-style: none;
    display: inline-block;
}
.nav-container a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
.nav-container ul li{
    line-height: 40px;
    display: inline-block;
    padding: .5rem 1rem;
  
}
.intro-section{
    background-color: lightblue;
    margin-top: 70px;
}
.intro-container{
    width: 1000px;
    margin: 0 auto;
}
.intro-container h1{
    font-size: 4.5rem;
    padding: 2rem 0;
}
.intro{
    display: flex;
}
.info-container{
    flex-basis: 90%;
}
.info-container p{
    padding-bottom: 2rem ;
}
.btn-blue{
    border: none;
    padding: .5rem 1rem;
    background-color: rgb(48, 85, 248);
    color: white;
}
.img-container img{
    width:100%
}
.subscriptions-section{
    width: 920px;
    margin: 0 auto;
}
.col-container{
    display: flex;
    justify-content: space-between;
}