*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
header{
    position: fixed;
    top: 0;
    z-index: 10;
    left: 0;
    right: 0;
    
}
nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: white;
    
}
.logo-container{
    display: inline-block;
    
}
.logo-container img{
    width: 100%;
    display: block;
}
.nav-container ul{
    list-style: none;
    display: inline-block;
}
.nav-container a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
.nav-container ul li{
    line-height: 40px;
    display: inline-block;
    padding: .5rem 1rem;
  
}
.intro-section{
    background-color: lightblue;
    margin-top: 50px;
    
}
.maxi-container{
    width: 1000px;
    margin: 0 auto;
    position: relative;
    top: 80px;
}
.intro-container h1{
    font-size: 4.5rem;
    padding: 2rem 0;
}
.intro{
    display: flex;
}
.info-container{
    flex-basis: 90%;
}
.info-container p{
    padding-bottom: 2rem ;
}
.btn-blue{
    border: none;
    padding: .5rem 1rem;
    background-color: rgb(48, 85, 248);
    color: white;
    margin: 1rem 0;
}
.img-container img{
    width:100%
}
.container{
    width: 920px;
    margin: 0 auto;
    padding: 4rem 0;
}
.sub-container{
    padding-top: 6rem;
}
.col-container{
    display: flex;
    justify-content: space-between;
    padding-bottom: 3rem ;
}
.col{
    border: 2px solid lightgray;
    width: 30%;
}
.col-container ul{
    list-style: none;
    padding: 1.5rem 0;
}
.col-container ul li{
    padding: .5rem 0;
}

.row-container{
    display: flex;
    border: 2px solid lightgray;
    
}
.partner-container{
    display: flex; 
}

.partner-info{
    flex-basis: 100%;
    padding: 4rem 3rem;
}
.partner-info p{
    padding: 2rem 0;
}
.card-container{
    display: flex;
    flex-wrap: wrap;
    
}
.card{
    width: calc(100% / 3);
    
}
.card-img-container{
    width: 100%;
    
}
.card-img-container img{
    width: 100%;
    max-height: 100%;
    object-fit: contain;
    display: block;
}
.card p{
    padding: 2rem 0;
}