*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
header{
    position: fixed;
    top: 0;
    z-index: 10;
    left: 0;
    right: 0;  
}
nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: white;    
}
section{
    padding: 4rem 0;
}

.logo-container img{
    width: 100%;
    display: block;
    object-fit: contain;
}
.nav-container {
    display: flex;
}
.nav-container ul{
    list-style: none;
    display: flex;
    align-items: center;
}
.nav-container a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: .5rem 1rem;
}

.maxi-container{
    width: 1000px;
    margin: 0 auto;
    position: relative;
    top: 80px;
}
.btn{
    border: none;
    padding: .5rem 1rem;  
    margin: 1rem 0; 
}
.blue{
   color: white;
    background-color: rgb(48, 85, 248);  
}

.maxi-container h1{
    font-size: 4.5rem;
    padding: 2rem 0;
}
.intro{
    display: flex;
}
.info-container p{
    padding-bottom: 2rem ;
}

.info-container{
    flex-basis: 90%;
}

.img-container img{
    width:100%
}

.container{
    width: 920px;
    margin: 0 auto;
    
}
.radio-plan{
    margin-right: 1rem;
}
.col-container{
    display: flex;
    justify-content: space-between;
    padding: 3rem 0 ;
}
.col{
    border: 2px solid lightgray;
    width: 30%;
    padding: 1.5rem;
    
}
.col button{
    width: 100%;
}
.fa-check{
  color: blue;
}
.col-tittle{
    display: flex;
    border-bottom: 2px solid lightgray;
    justify-content:  center;
    padding-bottom: .5rem;
}
.col h4 {
    padding-bottom: 1rem ;
    text-align: center;
}
.sub > *{
    padding: .5rem;
}
.col-container ul{
    list-style: none;
    padding: 2rem 0;
   
}
.col-container ul li{
    padding: .5rem 0;
}

.small-row-container{
    display: flex;
    justify-content: space-between;
}
.grey-border{
    border: 2px solid lightgray;
}
.row-right{
    width: 25%; 
}
.row-left{
    width: 50%;
}
.row-col-tittle{
    display: flex;
    justify-content: center;
    padding: .5rem 0;
    border-bottom: 2px solid lightgray; ;
}
.partner-container{
    display: flex; 
}

.partner-info{
    flex-basis: 100%;
    padding: 4rem 3rem;
}
.partner-info p{
    padding: 2rem 0;
}
 
.btn-white{
    border: 1px solid black;
    background-color: white;
}

.banner-container a{
    color: blue;
}
.banner{
    width: 60%;
}

.card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
.card{
    width: calc(100% / 3 - 20px);
}
.card-img-container{
    width: 100%;
    
}
.card-img-container img{
    width: 100%;
    max-height: 100%;
    object-fit: contain;
    display: block;
}
.card p{
    padding: 2rem 0;
}



.full-container{
    width:100%;
    display: flex;
}

.flex-container {
    display: flex;
    width: calc(100% / 3);
}
  
.square{
    width: 100%;
    display: flex;
    flex-wrap: wrap; 
}
.square-container{
    width: 100%
}
.square img{
    width: 100%;
    filter: invert();
    object-fit: contain;
    display: block;
    padding: 2rem ;
}
  
.item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    aspect-ratio: 1 / 1 ;
}
.flex-container-center{
    width: 33.33%;
    aspect-ratio: 1 / 1 ;
    
}
.square-center{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.square-center img{
    width: 100%;
}



.full-section{
    padding-bottom: 0;
}
.bg-blue{
    background-color: rgb(147, 195, 240);
    
}
.sub-questions {
    display: flex;
    justify-content: space-between;
}
.sub-text{
    display: none;
    padding: 2rem 0;
}
.questions:hover .sub-text{
   display: block;
}
hr{
    margin: 1rem 0;
}

.container h1{
    font-size: 2rem;
    padding-bottom: 2rem;
}
footer{
    background-color: black;
}
footer .maxi-container{
    top: 0;
    
}
.maxi-ul-container{
    display: flex;
}
.ul-container ul{
    list-style: none;
    padding: 1rem 0;
}
.ul-container a{
    text-decoration: none;
    color: white;
    font-size: 15px;   
}
.ul-container li{
    padding: .5rem 0;
    
}
.ul-container{
    color: white;
    width: calc(100% / 5);
    padding-bottom: 2rem;
}
.small-bar{
    height: 2px;
    width: 20%;
    background-color: lightgrey;
    margin: 4rem 0;
}
.option-lang{
    color: white;
    display: flex;
}
.option-lang > * {
    padding: 0 .5rem;
}